[2022-02-16 08:16] mohityadav0903 opened #1 "Make navbar stylish"
remove hover text underline

[2022-02-16 08:55] mohityadav0903 opened #2 "make separate about page"

[2022-02-16 08:55] mohityadav0903 opened #3 "make contact page"

[2022-02-16 09:59] mohityadav0903 opened #4 "Add scrolling effects"
add fade in fade out effects when we scroll to down or upward

[2022-02-16 09:59] mohityadav0903 opened #5 "Add Preloader for blog page"

[2022-02-24 14:49] varisha-025 commented on #5
Hello @mohityadav0903. I am a participant in GSSoC 2022 and I would like to work on this issue.

[2022-02-24 14:52] varisha-025 commented on #3
Hello @mohityadav0903. I am a participant in GSSoC 2022 and I would like to work on this issue. Please assign this issue to me.

[2022-02-24 19:22] Pranavv213 commented on #2
Hello , I am Pranav Verma , GSSoC contributor and want to work on this issue. Can u please assign me this issue ?

[2022-02-24 19:28] Pranavv213 commented on #2
@mohityadav0903 , please assign this issue to me . I am very eager to work on this issue

[2022-02-25 10:20] HarshKumarChoudary commented on #1
I could work on this issue. Please assign it to me.

[2022-02-26 09:36] HarshitShukla01 commented on #5
I want to work on this issue .

[2022-02-27 13:14] Shubham29012001 commented on #1
Hey @mohityadav0903, can I work on this issue for GSoC 2022?

[2022-02-27 18:20] Shubham29012001 commented on #5
Hello @mohityadav0903, I had completed the work of adding a preloader to the blog post page. Can you please assign it to me so that it can count in GSoC 2022?

[2022-03-01 03:47] Akku2016 commented on #3
hi, Can you please assign me to this problem. Being a GSSOC'22 participant I can start working on it from March 1st.plz little bit explain it

[2022-03-01 04:32] nitishsaini706 commented on #4
hi @mohityadav0903 . I would like to work on this , im GSSOC 2022 contributor

[2022-03-01 04:56] varisha-025 commented on #1
Hello @mohityadav0903. I am a participant in GSSoC 2022 and I would like to work on this issue. Can you assign it to me,please

[2022-03-01 05:12] mohityadav0903 commented on #1
hey @varisha-025 you can work ok this issue. i want navbar brand in starting with an logo image and all navitems on right side with cool hover effects
.

[2022-03-01 05:16] mohityadav0903 commented on #4
hey @nitishsaini706 you can work on this issue. Need some cool fade in fade out etc. effects on scrolling

[2022-03-01 05:17] mohityadav0903 commented on #5
hey @Shubham29012001 you can work on this.

[2022-03-01 05:19] varisha-025 commented on #1
Sure sir

[2022-03-01 05:19] varisha-025 commented on #2
Hello @mohityadav0903. I am a participant in GSSoC 2022 and I would like to work on this issue. Can you assign this to me?

[2022-03-01 05:19] varisha-025 commented on #3
Hello @mohityadav0903. I am a participant in GSSoC 2022 and I would like to work on this issue. Can you assign this to me?

[2022-03-01 05:20] mohityadav0903 commented on #3
hey @Akku2016 you need to add a contact section before the footer.

[2022-03-01 05:20] nitishsaini706 commented on #4
@mohityadav0903 On it

[2022-03-01 05:22] varisha-025 opened #6 "Some alignment issues in the footer"
The alignment of the social media icons and the useful links are not as expected. Some spacing will also make it look good.

[2022-03-01 05:22] varisha-025 commented on #6
Hello @mohityadav0903. I would like to work on this issue. Can you assign this to me?

[2022-03-01 05:23] mohityadav0903 commented on #2
hey @Pranavv213 you can work on this issue. Need a separate about page that contains about community and about team also.
also add a section about our achievements

[2022-03-01 06:46] nitishsaini706 commented on #4
hey @mohityadav0903 just created a pr ,
i've applied scrolling effect on about us page component only

[2022-03-01 06:56] AshutoshDash1999 opened #8 "Change dark color"
Hey, the dark colour is too dark, can I change it to lighter and more soothing black?

[2022-03-01 11:07] Shubham29012001 commented on #5
I have raised the pull request for this issue. You can check it out.

[2022-03-01 11:14] varisha-025 commented on #1
Where should the login and register button be ?

[2022-03-01 11:18] mohityadav0903 commented on #1
You can put them at last on right side @varisha-025

[2022-03-01 11:24] Ankit62042 commented on #6
I would like to work on this issue

[2022-03-01 11:43] varisha-025 commented on #1
@mohityadav0903 I have raised the PR. Please review it

[2022-03-01 12:12] mohityadav0903 commented on #8
hey @AshutoshDash1999 can u add some animated svgs in background with the change in color you suggested?

[2022-03-01 12:36] mohityadav0903 opened #11 "Add preloaders for log in and register"

[2022-03-01 12:37] Shubham29012001 commented on #11
Hey @mohityadav0903, I would like to work on this issue for GSoC'22.

[2022-03-01 13:25] IKRA786 opened #12 "Animation"
As a GSSOC'22 contributor, I would like to add some fade animations while users scroll down the page.
Please assign this to me.

[2022-03-01 13:44] mohityadav0903 commented on #12
hey @IKRA786 which images u r talking about plz create issue with snapshots

[2022-03-01 14:02] AshutoshDash1999 commented on #8
@mohityadav0903 sorry I couldn't add svgs. I'm not sure about copyrights actually!

[2022-03-01 14:34] mohityadav0903 commented on #8
It will be good if you can use any free one. Also u can change the color as u want @AshutoshDash1999

[2022-03-01 15:20] IKRA786 commented on #12
**I have updated the issue please check.**

[2022-03-01 15:36] mohityadav0903 commented on #12
ya @IKRA786 go ahead

[2022-03-01 15:51] AshutoshDash1999 commented on #8
do u have any theme idea for the SVG?

[2022-03-01 16:36] mohityadav0903 commented on #8
anything which gives a animated look in background like this
![image](https://user-images.githubusercontent.com/83297933/156209829-716f3abc-95f8-4ad9-a50b-016403f998e7.png)
it is a running animation

[2022-03-01 17:28] Shubham29012001 commented on #11
Hey @mohityadav0903, I have added the mentioned task i.e. Preloader for Login and Signup page. Here is an example -

![image](https://user-images.githubusercontent.com/59647563/156218380-0864712e-13ee-4410-aa20-a347eeae4223.png)

[2022-03-01 18:08] Pranavv213 commented on #2
@mohityadav0903 can u tell a little bit how the design should look like or do I need to do as per me. It will be good if  u provide the website url so I can implement similar design to make the about page.

[2022-03-01 18:44] Pranavv213 commented on #2
And what do u mean by separate in "separate about page" ? Like about page is already there. Do I need to modify it or something else. If u can explain a bit more clearly so that I can understand what exactly has to be done

[2022-03-02 03:30] AshutoshDash1999 commented on #8
I guess we will need a designer for custom animation... or else we can proceed with particle.js

[2022-03-02 07:15] mohityadav0903 commented on #2
hey @Pranavv213 by separate about page i mean to make a page where we can show all of our achievements, future plans , all about our team and all

[2022-03-02 07:18] mohityadav0903 commented on #2
![image](https://user-images.githubusercontent.com/83297933/156313352-dd007b24-49f4-46b9-a67f-26d678877f67.png)
for reference only plz do not use as it is

[2022-03-02 07:20] mohityadav0903 commented on #6
hey @Ankit62042 go ahead

[2022-03-02 07:21] mohityadav0903 commented on #5
hey @Shubham29012001 the package u used is giving some errors during the build process

[2022-03-02 07:26] varisha-025 commented on #1
I have got lots of issues. Please assign it to someone else.

[2022-03-02 07:39] mohityadav0903 commented on #1
hey @HarshKumarChoudary can u work on it

[2022-03-02 08:00] HarshKumarChoudary commented on #1
Yes, I will work on it.

[2022-03-02 12:47] Shubham29012001 commented on #11
Hello @mohityadav0903, I noticed that in DropDownItems.jsx, the import has been changed to something else. The original package was "react-loader-spinner". That's creating the issue.

[2022-03-02 13:41] mohityadav0903 commented on #11
hey it's solved now i am reviewing your PR

[2022-03-02 17:42] mohityadav0903 commented on #3
hey @Akku2016 commit the code to your branch and then push it

[2022-03-02 18:07] PeritusDeveloper opened #15 "Issue in contribution.md"
---
name:  Error in documentation
about: Error in naming of folder

---

**Describe the bug**
In contribution.md , in the section **How to make a Pull Request**  the folder names don't match in 2nd and 3rd point.
In the 2nd point     git clone https://github.com/mohityadav0903/Algoders-Community
we are creating the folder named  Algoders-Community
while in the 3rd point cd client
we are trying to

[2022-03-02 18:12] PeritusDeveloper commented on #15
I am Shraddha Basarikatti, contributor from GSSoC 2022
I have found a mistake in contribution.md
I have corrected  the same.

[2022-03-02 18:14] PeritusDeveloper commented on #15
Should I make the make PR for the changes?

[2022-03-02 18:15] mohityadav0903 commented on #15
hey @PeritusDeveloper nice catch
I have corrected it actually in starting the folder structure was different. We deleted the client folder later

[2022-03-02 18:25] PeritusDeveloper commented on #15
Thank You Sir!

[2022-03-02 18:26] PeritusDeveloper commented on #15
Should I close the issue?

[2022-03-03 08:31] mohityadav0903 commented on #12
hey @IKRA786 any progress on it?

[2022-03-03 11:20] mohityadav0903 commented on #11
hey @Shubham29012001 i have merged your PR. I  am closing this issue u can work on other issues if u want thanks

[2022-03-03 11:21] #11 closed

[2022-03-03 13:14] YalfamIamShaon commented on #8
Hey @mohityadav0903 , I work on this. I am a GSSOC 22 contributor and I know HTML, CSS , Javascript and ReacJs. I got your Idea, please assign me this. I can change the Theme and design.

[2022-03-03 13:15] mohityadav0903 commented on #8
Hey @YalfamIamShaon go ahead mate

[2022-03-03 13:31] YalfamIamShaon commented on #8
Hey @mohityadav0903 thank you so much. Can you tell me how much time do I have for this ?

[2022-03-03 13:52] mohityadav0903 commented on #8
You can take your time.
But please try to do it within a week @YalfamIamShaon

[2022-03-03 14:23] anishacse2018 commented on #4
Hey, I would like to work on this issue.

[2022-03-03 14:28] IKRA786 commented on #12
Yes, I am doing.

[2022-03-03 14:42] bhutani2002 opened #16 "Blog Post Webpage"
**Describe the bug**
There's no form or something like inputs, through which the user can write their own tech blog with title, description to submit for the website . The blogs are directly fetched from the firebase database, as of now and the users can just view the blogs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Blogs](https://www.algoderscommunity.tech/blogs)
2. See error

[2022-03-03 14:43] YalfamIamShaon commented on #8
Thank you @mohityadav0903 , for sure

[2022-03-03 14:43] bhutani2002 commented on #16
@mohityadav0903 please review it once and provide your feedback .
Thank You

[2022-03-03 14:55] bhutani2002 opened #17 "Blog 'ALL' category"
**Describe the bug**
There's no 'ALL' tag(or category) on the blogs page header, through which the user can see all different types of blogs together. It's just on the initial page reload where all blogs are seen together, but after choosing any category, we cannot go back to ALL blogs category.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Blogs](https://www.algoderscommunity.tech/

[2022-03-03 14:58] bhutani2002 commented on #17
Hey @mohityadav0903 could you please review this issue and provide me a feedback on it . I guess I might need the firebase access, as all the category names come from firebase database as I went through the code and would require to add the category there.
Thank You

[2022-03-03 15:06] mohityadav0903 commented on #16
![image](https://user-images.githubusercontent.com/83297933/156591868-3ad10d9d-1c76-4998-a482-dc9a15d4e7ae.png)

[2022-03-03 15:09] anishacse2018 opened #18 "Page to "Apply as a Mentor""
In the website, there is a button "Apply Here" as a Mentor, but when I click on it, its staying in the same page instead of getting redirected to a new page. I would like to work on that page.

[2022-03-03 15:11] mohityadav0903 commented on #17
hey @bhutani2002 it's not firebase in the backend. I used mongodb for that.
Btw i got your point u do not need to have backend access for that u can add a back arrow or back button for it

[2022-03-03 15:16] mohityadav0903 commented on #18
hey @anishacse2018 nice to see your attention for the issues. We need a new form for that. Go ahead and create a page for it that contains a form ith name email skills and a drive link section to upload CV

[2022-03-03 15:18] bhutani2002 commented on #16
It's I guess not visible on the website. Could you please provide the link for this page, because I didn't find it there.

[2022-03-03 15:19] bhutani2002 commented on #17
So, I guess now I can add a back arrow button now below every category.

[2022-03-03 15:21] anishacse2018 commented on #18
Yeah, I will start working on it. Thanks.

[2022-03-03 15:22] mohityadav0903 commented on #16
hey For this u have to apply for writing role and for that we are having a form so that anyone can apply

[2022-03-03 15:26] mohityadav0903 commented on #16
ya plz

[2022-03-03 15:29] bhutani2002 commented on #16
Ok

[2022-03-03 15:30] #16 closed

[2022-03-03 15:31] mohityadav0903 commented on #17
ya u can work on it

[2022-03-03 16:34] #4 closed

[2022-03-04 09:44] #17 closed

[2022-03-04 15:27] mohityadav0903 opened #21 "change blog page style"
need to change blog page style of blog cards

[2022-03-04 19:52] Shubham29012001 commented on #21
Hey @mohityadav0903, I would like to work on this issue for GSoC'22.

[2022-03-05 04:36] HarshKumarChoudary commented on #6
Please consider me next in the queue if the issue is not resolved. I'm a GSSOC22 participant

[2022-03-05 04:37] HarshKumarChoudary commented on #21
Please consider me next in the queue, as I would also like to contribute to it. I'm a GSSOC22 participant

[2022-03-05 06:53] mohityadav0903 commented on #6
hey @Ankit62042 r u working on it?

[2022-03-05 06:55] varisha-025 commented on #6
Hey @mohityadav0903. I opened the issue. It would be great if you assign me if no one's working on it.

[2022-03-05 06:59] varisha-025 commented on #6
<img width="1440" alt="Screenshot 2022-03-04 at 7 14 25 PM" src="https://user-images.githubusercontent.com/81171573/156872383-7b980eaa-4be7-4b08-b7f4-b5ec4c7b4986.png">

I can use this hover effect on the social media icons with matching color.

[2022-03-05 07:03] thefstalphabet opened #22 "Re-designing Login & Register Form"
Login & Register forms need to be re-design, and there are buttons in both pages to be removed that are unnecessary.

Can you please assign this to me? under GSSOC'22.

![s2022-03-05 123035](https://user-images.githubusercontent.com/69709410/156872641-39d293ff-9f4c-469a-bb01-8cccd206e6a3.jpg)

![Screenshot 2022-03-05 123129](https://user-images.githubusercontent.com/69709410/156872642-65b60e7f-0a1

[2022-03-05 07:05] Shubham29012001 opened #23 "Bug: Could Not Fetch User Details in Navbar Due to Wrong JSON Configuration"
When we login into the application, the Navbar must print Hello "Username" but instead, it's printing only Hello. Similarly to profile pic and role. It's happening due to the wrong JSON configuration. The current one is user.username, user.role, user.profilePic but instead the working one should be user.others.username, user.others.role, and user. others.profilePic.

Steps to reproduce the behavio

[2022-03-05 13:38] Dcode-k commented on #23
hey @Shubham29012001 you can start working on it.

[2022-03-05 13:45] mohityadav0903 commented on #22
hey @thefstalphabet go ahead

[2022-03-05 13:47] mohityadav0903 commented on #21
hey @HarshKumarChoudary u can work on it

[2022-03-05 13:48] mohityadav0903 commented on #6
hey @varisha-025 u can work on it

[2022-03-05 13:48] Ankit62042 commented on #6
Yes!! I'm working on it, Please give me time till tomorrow

[2022-03-05 13:52] Shubham29012001 commented on #23
Hey @Dcode-k, I have raised a pull request to fix this bug issue.

[2022-03-05 14:42] thefstalphabet commented on #22
Great then, I'll start working on it.

[2022-03-05 15:45] mohityadav0903 commented on #6
hey @Ankit62042 plz reply on time i thought u are not available
take ur time since u r already working on it

[2022-03-06 15:35] #23 closed

[2022-03-06 16:18] AshutoshDash1999 commented on #8
sorry for late update @mohityadav0903
i experimented with blue and I think it might work
![image](https://user-images.githubusercontent.com/46455250/156931663-ed724a1e-b557-4b74-a3a4-edc6c42c2c94.png)

or

![image](https://user-images.githubusercontent.com/46455250/156931715-950434f8-5347-4a35-a26f-f5f2cdf968fa.png)

[2022-03-07 01:50] Daksh-jha commented on #3
Hey @mohityadav0903 , Can I work next on the issue if it is yet not done ?

[2022-03-07 02:42] Akku2016 commented on #3
already I done @Daksh-jha I will make a PR for this isssue

[2022-03-07 03:35] anishacse2018 commented on #18
I have completed this task. Could you review the code and tell me the next steps.

[2022-03-07 05:19] mohityadav0903 commented on #1
hey @HarshKumarChoudary any updates?

[2022-03-07 05:22] HarshKumarChoudary commented on #1
I was working on it. I will create PR by tommorrow.
Could you please tell me what styles or enhancements do you need in the navbar.
Like did you want gradient effects or transparency etc.

[2022-03-07 05:25] #18 closed

[2022-03-07 05:36] mohityadav0903 commented on #1
color is ok just take a note on enhancements that i mentioned above

[2022-03-07 05:36] HarshKumarChoudary commented on #1
ok

[2022-03-07 05:41] Dcode-k opened #27 "update join us section"
update our join us section like as sample given below
![image](https://user-images.githubusercontent.com/83282210/156974269-9ea73600-206a-46e0-acc3-a4849f927d05.png)

![image](https://user-images.githubusercontent.com/83282210/156974706-8cf11f62-9685-41be-a0db-fc661dc80bfa.png)

[2022-03-07 05:41] Dcode-k opened #28 "make mentor application form more attractive."
![image](https://user-images.githubusercontent.com/83282210/156973846-203659e4-6b7c-4765-9353-74acfc8190d2.png)

[2022-03-07 05:50] mohityadav0903 commented on #2
hey @Pranavv213 any updates on it?

[2022-03-07 05:50] Dcode-k opened #29 "issue in fade-in and fade-out effect on scrolling the site"
**Describe the bug**
If we scroll  website then there is some lag in fade in and fade out effect . Content loads late on site.
Like in the screenshot , image with about us does not load effectively in time.

**Screenshots**

![image](https://user-images.githubusercontent.com/83282210/156975549-5e86fd96-7882-4da3-99bc-9abce4901f6f.png)

[2022-03-07 06:03] rv602 commented on #28
hi @mohityadav0903 , Rajagopalan this side.
I would like to take up this issue of making the mentor login form more attractive.
Kindly assign the same to me.

[2022-03-07 06:32] anishacse2018 commented on #29
Hey, I am a GSSoc participant. Could you pls assign me this issue? I would love to work on it.

[2022-03-07 06:50] Shubham29012001 commented on #27
Hey @Dcode-k, I would like to work on this issue for GSSoC '22.

[2022-03-07 09:35] Dcode-k commented on #29
hey @anishacse2018  you can start work on it.

[2022-03-07 09:37] Dcode-k commented on #28
@rv602  you can start working  on this issue.

[2022-03-07 10:54] HarshKumarChoudary commented on #1
@mohityadav0903 Just please share the logo which you want at the leftmost side.

[2022-03-07 16:18] HarshKumarChoudary commented on #1
I created the PR please review and merge it. Thanks.

[2022-03-08 04:22] mohityadav0903 commented on #6
@Ankit62042 is it done?

[2022-03-08 04:53] HarshKumarChoudary commented on #27
I would like to contribute to it. Please assign it to me. I'm a GSSOC22 contributor.

[2022-03-08 08:23] mohityadav0903 commented on #8
hey @YalfamIamShaon any updates on it?

[2022-03-08 08:33] #3 closed

[2022-03-08 08:33] #22 closed

[2022-03-08 14:20] YalfamIamShaon commented on #8
Hey, @mohityadav0903, I have been trying for a couple of days, but I could not add the animation you wanted. Rather, if you allow me to experiment with the design, the colors, and the fonts to make it look more cohesive. I can do that. 

[2022-03-08 15:54] YalfamIamShaon commented on #8
Okay, @mohityadav0903. But I think rather than animation, this UI will look more cohesive and simply gorgeous if we just change some of the things, like the colors, font style, button colors, etc. However, I will try my best to add animation in the background, but if you are open to this idea, then I can start working on this again from scratch.

[2022-03-08 15:56] mohityadav0903 commented on #8
Go ahead

[2022-03-08 16:26] YalfamIamShaon commented on #8
Thank you for being so supportive to this beginner, will try my best.

[2022-03-09 08:58] shivam123-dev opened #35 "Update Contact Us Section"
## Current Contact Us Section
![image](https://user-images.githubusercontent.com/81038095/157407420-91d33ad7-e217-4bbb-a7f9-8d660d6ee06a.png)

## Updated Contact Us Section
![image](https://user-images.githubusercontent.com/81038095/157407313-27c10542-5b3c-4b04-9728-b6473fe380ea.png)

@mohityadav0903 Please assign me this issue under GSSOC'22

[2022-03-10 03:16] thefstalphabet opened #36 "Need proper alignment"
Need to align paragraphs information present on the home page.
i.e. If para is present on the left, it needs alignment to be left, and same to right.

![Screenshot 2022-03-10 083441](https://user-images.githubusercontent.com/69709410/157580856-9683f4f0-b0a8-47b9-8db9-d114d815af5b.jpg)

![Screenshot 2022-03-10 083425](https://user-images.githubusercontent.com/69709410/157580863-8e30569f-bd7b-4fb8-8

[2022-03-10 05:03] mohityadav0903 commented on #6
hey @varisha-025 u can work on it now

[2022-03-10 05:04] mohityadav0903 commented on #35
hey @shivam123-dev u can work on it

[2022-03-10 05:42] ronitrangwani commented on #27
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-10 07:27] shivam123-dev commented on #35
@mohityadav0903 Please review PR #37

[2022-03-10 10:36] Pranavv213 commented on #2
@mohityadav0903 design and coding part is almost done. just the filling of texts is left What all text should I put inside it ? Should I use the text from the above image (not exactly, will make some changes) ?

[2022-03-10 11:36] gursimran0410 commented on #36
@thefstalphabet Assign this to me under GSSOC'22.

[2022-03-10 12:36] #35 closed

[2022-03-10 12:38] mohityadav0903 commented on #27
hey @ronitrangwani u can work on it

[2022-03-10 12:40] mohityadav0903 commented on #2
u can use any dummy text  like lorem etc. @Pranavv213

[2022-03-10 12:44] mohityadav0903 commented on #36
hey @thefstalphabet u can work on this

[2022-03-10 13:07] ronitrangwani commented on #27
Can you forward me the links of handles ?

[2022-03-10 14:14] Dcode-k commented on #27
@ronitrangwani which links you want?

[2022-03-10 14:59] ronitrangwani commented on #27
LinkedIn, Telegram, YouTube, Twitter, GitHub, Discord links that are needed to be added .

[2022-03-14 14:55] varisha-025 commented on #6
Sure

[2022-03-15 06:17] Mennapika opened #40 "Need to be responsive"
![issue](https://user-images.githubusercontent.com/38566183/158318498-7d8c1bde-8680-4c97-a3c4-ab6dfdd9c984.PNG)

[2022-03-16 05:40] mohityadav0903 commented on #40
hey @Mennapika i have already created a issue regarding footer part. u can comment there i will assign u

[2022-03-16 05:41] mohityadav0903 commented on #8
hey @YalfamIamShaon solve the error asap

[2022-03-16 11:27] nitishsaini706 commented on #29
@Dcode-k I added these features in the project , It's because the delay in aos useEffect is 3 sec which is causing delay , it's a simple fix
@anishacse2018 Have you fixed it ?

[2022-03-16 13:41] anishacse2018 commented on #29
No

[2022-03-16 14:12] nitishsaini706 commented on #29
@anishacse2018 no

[2022-03-16 18:20] Mennapika commented on #6
can i work on it ?

[2022-03-18 09:53] Shruti025 commented on #1
hey can I work on this issue under GSSoC?

[2022-03-18 11:02] HarshKumarChoudary commented on #1
I had submitted the PR for it. It's under review.

[2022-03-25 05:18] sahilg861907 commented on #12
hello @mohityadav0903 , it's been many days and issue hasn't been resolved. can you please assign it to me? I'm very excited to work on this issue.

[2022-04-01 11:16] mohityadav0903 commented on #21
hey @HarshKumarChoudary updates on it?

[2022-04-02 02:33] Adhetya opened #47 "Cards not of equal size"
**Describe the bug**
The social cards are not of equal size. They are also not clickable to take them to the respective profiles. For eg: clicking the GitHub link does not take you to the repository

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the social cards part of the website

**Expected behavior**
Social cards should be of equal size for better user experience and take you to t

[2022-04-02 02:33] Adhetya commented on #47
I am a GSSOC 22 contributor. Please assign this issue to me.

[2022-04-02 17:44] mohityadav0903 commented on #6
hey @varisha-025 is it done?

[2022-04-02 18:12] mohityadav0903 commented on #2
![image](https://user-images.githubusercontent.com/83297933/161395931-337be534-a7f8-441c-a3cc-5b79d15c62c6.png)
hey @Pranavv213 this is not responsive plz check it asap

[2022-04-03 07:57] Pranavv213 commented on #2
This is not made by me. Some other contributor might have made this. The one that I have created is located as follows=> :
src->pages->about.
plz check , mine from the above location . Mine about page is responsive

[2022-04-03 10:36] Anirban-1490 opened #49 "Fix Blogs page cards alignment and animation"
**Describe the bug**
blogs page cards hover style seems wrong and it's alignment too

**Screenshots**

![Opera Snapshot_2022-04-03_160338_algo-testsite herokuapp com](https://user-images.githubusercontent.com/82874704/161423479-d054c17c-0c6d-4f1e-b293-310a5925167e.png)

[2022-04-03 10:36] Anirban-1490 commented on #49
assign me this under GSSOC22

[2022-04-03 10:39] mohityadav0903 commented on #49
hey @Anirban-1490 i have already created a bug for this
plz comment on #21

[2022-04-03 10:50] Anirban-1490 commented on #21
well yeah i would like to take the issue under GSSOC22 . damn it's been 29 days and still no update on this issue

[2022-04-03 10:57] mohityadav0903 commented on #21
ya u can go ahead @Anirban-1490

[2022-04-04 16:38] aaryahjolia opened #51 "Footer Improvements"
**Describe the bug**
In footer, instagram logo needs to be updated and the image should link to the main website.

**Expected behavior**
A more better footer.

**Screenshots**
![GSSoC](https://user-images.githubusercontent.com/82600388/161591060-cddc6827-f5b0-49ca-8500-04ab1f13f76b.png)

**Additional context**
I'm a GSSoC contributor.

[2022-04-05 04:34] mohityadav0903 commented on #2
hey @Pranavv213 it has been changed by your commits. u have to use separate css for about us page and do not use already made components for about us section

[2022-04-05 04:35] mohityadav0903 commented on #6
hey @Mennapika u can work on it

[2022-04-05 04:36] mohityadav0903 commented on #51
hey @aaryahjolia go ahead

[2022-04-05 13:09] #47 closed

[2022-04-05 13:11] Adhetya opened #52 "Cards overlapping"
**Describe the bug**
A clear and concise description of what the bug is.
The cards are overlapping not making the UI look good

**Expected behavior**
Cards should be given adequate spacing and be clear to read

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="1440" alt="Screenshot 2022-04-05 at 6 38 39 PM" src="https://user-images.githubusercontent.com/2053

[2022-04-05 17:50] mohityadav0903 commented on #52
hey @Adhetya go ahead

[2022-04-11 14:17] #51 closed, assigned to aaryahjolia

[2022-04-11 14:32] #49 closed

[2022-04-11 14:48] #52 closed

[2022-04-11 16:17] Shubham29012001 opened #55 "Site Loads too Slow due to AoS and Image Size Not Proper on Homepage"
**Describe the bug**
When we visit the homepage, the site loads too slowly due to the high aos configuration. Also, the images on the homepages are not properly specified leading to a bad user experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Homepage'
2. Scroll down and you will see how slow the animate loads
3. Scrolling down further you will see every small image
4. See e

[2022-04-11 16:39] Shubham29012001 commented on #55
Hey @mohityadav0903, can you please check out the issue? I have discussed this with you on the Discord server.

[2022-04-11 19:41] mohityadav0903 commented on #55
hey @Shubham29012001 u can work on it

[2022-04-11 19:54] mohityadav0903 commented on #55
hey @Shubham29012001 the separate about page is looking bad due to your changes
![image](https://user-images.githubusercontent.com/83297933/162818911-79fafcad-ab50-4dc3-86a3-570dc3ed0e9e.png)

[2022-04-11 19:54] Shubham29012001 commented on #55
Hey @mohityadav0903, can you please assign GSSoC label with appropriate level for the issue?

[2022-04-11 19:56] mohityadav0903 commented on #55
i have already added labels to the pr

[2022-04-11 19:58] Shubham29012001 commented on #55
Yup, my bad I didn't noticed the PR merged. Sorry for that. Apart from it is there any feature or issue you want to be done on the site, it would help us (contributors) to learn and implement something new everytime.

[2022-04-11 20:02] mohityadav0903 opened #57 "settings page responsiveness"
![image](https://user-images.githubusercontent.com/83297933/162820456-80427ea5-390e-411e-9bbc-7c8238491288.png)
correct it

[2022-04-11 20:05] Shubham29012001 commented on #55
Hey @mohityadav0903, I am sorry for that I didn't checked the about us page. It's happening due to a single line code in card.css. I will fix it and re-open the pull request. Sorry for the issue I didn't want to broke the site.

[2022-04-12 07:34] Shubham29012001 opened #58 "Bug: Navbar and Footer Hyperlinks Missing for Pages"
**Describe the bug**
In the navbar, only text is mentioned but no hyperlinks are given to each separate page leading to users missing those pages. Even in my case, I was not knowing about the separate page since it was not linking on the navbar as well as on the footer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'homepage'
2. Click on any navbar link
3. See the error
4. Scroll dow

[2022-04-12 07:43] Shubham29012001 commented on #55
Hey @mohityadav0903, I have opened up the PR for it. Please have a look at it and lastly, I am really sorry for the poor PR which got merged due to me.

[2022-04-12 08:23] #55 closed

[2022-04-12 08:29] mohityadav0903 commented on #58
hey @Shubham29012001 it will be good if you can implement react scroll to the nav links and after scrolling to the section , add separate pages links to learn more buttons

[2022-04-12 08:44] Shubham29012001 commented on #58
Ok got it will implement it and send the PR soon.

[2022-04-12 10:35] nitishsaini706 opened #60 "Making heading of the navbar more stylish"
![issue](https://user-images.githubusercontent.com/39373956/162941617-c8998bf2-fca1-49b2-a3cd-06f723b56851.png)

Making algoders community label in navbar more stylish on hover ,
Instagram icon is not aligned ,
also fixing issue #6

[2022-04-12 11:54] mohityadav0903 commented on #60
hey @nitishsaini706 plz update the project by forking again and then create issues.
it's already solved

[2022-04-14 04:46] mohityadav0903 commented on #28
hey @rv602 it's been more than one month. wru?

[2022-04-15 03:23] #40 closed

[2022-04-19 08:39] #60 closed

[2022-04-22 09:12] TG922 opened #62 "Enhancing mentor application form"
I would like to modify the mentor form to help increase the UI of the website

[2022-04-22 09:51] #62 closed

[2022-04-23 18:52] Chitrakshi2531 opened #63 "PR Template"
Creating a pull request template to ensure that the pull request contains all the information and details regarding pr so that it will be easy to review them.

@mohityadav0903 can you please assign me this ??

[2022-04-24 14:11] mohityadav0903 commented on #63
hey @Chitrakshi2531 u can work on it

[2022-04-24 14:12] mohityadav0903 commented on #58
hey @Shubham29012001 updates on it?

[2022-04-24 14:42] Shubham29012001 commented on #58
Hey @mohityadav0903, I really sorry for the late updates. I will create the PR soon.

[2022-05-03 20:57] aaryahjolia opened #65 "Adding Animations in home page"
**Describe the bug**
Adding animations at several places will look good for users.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Scroll down to whole website
3. See no animations

**Expected behavior**
Animations at lots of places in home page

**Screenshots**

Animation on hover :
![image](https://user-images.githubusercontent.com/82600388/166564110-e22b5120-fb48-4a6e-a41

[2022-05-03 20:58] aaryahjolia opened #66 "making a new good ui form"
**Describe the bug**
A good UI form of mentors

**To Reproduce**
Steps to reproduce the behavior:
1. Go to mentors apply
2. see form

**Expected behavior**
a good ui form should be there

**Screenshots**

![image](https://user-images.githubusercontent.com/82600388/166565066-cbe93d5e-4b92-4f01-af3c-a7981d5face4.png)

[2022-05-04 13:00] mohityadav0903 commented on #65
hey @aaryahjolia u can work on it

[2022-05-04 13:00] mohityadav0903 commented on #66
hey @aaryahjolia u can work on it

[2022-05-12 19:25] BIKRAM-SAHA commented on #27
Hi @Dcode-k @mohityadav0903 is this issue open for assignment? As it has been long since this issue was created I would like to volunteer to work on this issue.

[2022-05-12 19:26] BIKRAM-SAHA commented on #36
Hi @mohityadav0903 it has been long since the issue was raised. Would love to volunteer to work on this issue if it is available for assignment

[2022-05-13 09:12] mohityadav0903 commented on #27
hey @BIKRAM-SAHA there is some issues in alignment of this section. you can solve them

[2022-05-13 11:26] BIKRAM-SAHA commented on #27
@mohityadav0903 can u pls explain the issue a bit more, because on my local setup the alignments of the cards look good to me

![image](https://user-images.githubusercontent.com/74536497/168273589-1c91880d-3b7d-4beb-8d9a-c21ffce34a62.png)

By any means are you talking about #36 ?

[2022-05-14 05:26] mohityadav0903 commented on #27
![image](https://user-images.githubusercontent.com/83297933/168412025-b944479a-1783-4945-a8a2-352eb4db1dda.png)
the sections are not in center

[2022-05-14 05:28] mohityadav0903 commented on #27
@BIKRAM-SAHA

[2022-05-14 15:25] BIKRAM-SAHA commented on #27
@mohityadav0903 Ok I can work on that. Please assign this issue to me.

[2022-05-14 16:21] BIKRAM-SAHA commented on #27
@mohityadav0903
btw as u can see in the video

https://www.veed.io/view/0dec86ef-edf7-4583-8324-8833f5a2cd11

The `join us` part looks good on my local setup though there is an issue with the `contact information` section
What do you suggest should I experiment with the contact information section too?

[2022-05-15 19:24] navyasharma0203 commented on #6
Hello @mohityadav0903. I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:25] navyasharma0203 commented on #2
Hello @mohityadav0903. I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:25] navyasharma0203 commented on #1
Hello @mohityadav0903. I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:25] navyasharma0203 commented on #8
Hello @mohityadav0903. I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:26] navyasharma0203 commented on #12
Hello @mohityadav0903. I would like to work on this issue. Can you assign this to me?

[2022-05-16 08:17] mohityadav0903 commented on #27
ok u can work on it @BIKRAM-SAHA

[2022-05-16 08:17] mohityadav0903 commented on #65
hey @aaryahjolia any updates?

[2022-05-16 08:18] mohityadav0903 commented on #12
hey @navyasharma0203 u can work on it

[2022-05-16 08:23] aaryahjolia commented on #65
As my semester end exams are going on, I will make a PR before 21st.

[2022-05-19 04:45] mohityadav0903 commented on #57
anyone who want to work on it can comment here

[2022-05-21 20:12] BIKRAM-SAHA commented on #57
Hi @mohityadav0903 I would love to work on this issue. Please assign it to me.

[2022-05-21 20:14] BIKRAM-SAHA commented on #57
![image](https://user-images.githubusercontent.com/74536497/169667539-e88c68ca-0c97-4e12-a4f3-8bc3c3ea56f6.png)
![image](https://user-images.githubusercontent.com/74536497/169667561-9cf9f91b-299b-42c6-bb83-cd6a40a2f5ad.png)

Does this look good?

[2022-05-21 20:16] BIKRAM-SAHA commented on #27
@mohityadav0903 ig this issue was resolved? if yes, then please close it.

[2022-05-21 20:23] BIKRAM-SAHA commented on #57
Also I propose to remove these:
- console.log() statements
- error

![image](https://user-images.githubusercontent.com/74536497/169667840-0c4000d9-da53-49a5-9e39-55ea7e0a0281.png)

[2022-05-22 15:54] mohityadav0903 commented on #57
hey @BIKRAM-SAHA u can work on it

[2022-05-22 16:26] BIKRAM-SAHA commented on #36
@mohityadav0903 is this issue available for grab? Would love to volunteer for this.

[2022-05-24 03:10] #36 closed

[2022-05-26 17:56] #65 closed

[2022-05-27 08:23] BIKRAM-SAHA commented on #12
@mohityadav0903 Is this issue available for grab? Would love to volunteer if its is.

[2022-05-27 08:50] mohityadav0903 commented on #12
Yes u can work on it @BIKRAM-SAHA

[2022-05-27 08:50] mohityadav0903 commented on #12
Yes u can work on it @BIKRAM-SAHA

[2022-09-20 17:23] NageshMandal commented on #66
If This Issue Is Not Solved Can I Work On It

[2022-09-30 09:48] sayamalvi opened #72 "about section link issue"
When the user is in /blogs route and clicks on 'about' link, the route doesn't change.

[2022-10-04 07:18] mohityadav0903 opened #74 "Home page design"
**Describe the bug**
home page design changes

**Expected behavior**
  page should look like shown in pic. below

**Screenshots**
![image](https://user-images.githubusercontent.com/83297933/193758156-7e0f5262-5b58-42f5-97f9-6763d784d26e.png)

[2022-10-04 07:27] amanchoudhary18 commented on #74
Hi, i want to work on this.

[2022-10-04 07:27] Villain45 commented on #74
I would like to work on this
Plz add the hacktoberfest tag and assign to me

[2022-10-04 07:38] mohityadav0903 commented on #74
hey @amanchoudhary18 u can work on this. try to complete it asap.

[2022-10-04 07:40] mohityadav0903 opened #76 "remove contact section from blogs page"
remove the contact us section from blogs page

[2022-10-04 07:42] Eyesnatcher-coder commented on #76
Hey @mohityadav0903  could you please assign the issue to me ?

[2022-10-04 08:07] Abhishek3223 commented on #76
hi @mohityadav0903 can u please assign this  to me ?

[2022-10-04 08:14] mohityadav0903 commented on #76
hey @Eyesnatcher-coder u can work on it. Make sure to follow the PR template

[2022-10-04 09:15] Abhishek3223 commented on #72
can i work on it please label it as hacktoberfest

[2022-10-04 09:54] sayamalvi commented on #72
@Abhishek3223 bro this repo has the hacktoberfest label so it would be accepted as a valid pr if it gets accepted by the maintainer.

[2022-10-04 10:01] Shaliniyadav8130 opened #77 "Need updation in about page"
I want to update the about section. Please assign me this issue.

[2022-10-04 10:05] #77 closed

[2022-10-04 11:14] Eyesnatcher-coder commented on #76
hey @mohityadav0903 do you want to remove Contact Us section, or Contact button.
![s2](https://user-images.githubusercontent.com/96467990/193804926-226ca569-3d40-404b-b7b2-5596355d737f.png)
![s1](https://user-images.githubusercontent.com/96467990/193804936-cf6f223d-e82e-436b-b454-dd033786d1aa.png)

[2022-10-04 14:26] Amanshenoy008 commented on #29
Hey , I would like to work on this issue  , Can you assign me this ....

[2022-10-05 03:40] mohityadav0903 commented on #29
hey @Amanshenoy008 sure go ahead

[2022-10-05 08:22] TechSpiritSS opened #79 "Better Issue Templates"
Assign me to edit and change templates to these.

![image](https://user-images.githubusercontent.com/76687985/194014492-0010adbd-a935-46fb-813b-921587fa87ec.png)
![image](https://user-images.githubusercontent.com/76687985/194014660-bff96800-227d-40ea-afec-3fa312ec15a2.png)
![image](https://user-images.githubusercontent.com/76687985/194014727-3671c75a-c192-41ce-8307-f63d931b0fd4.png)

[2022-10-05 10:22] nishtha53 opened #80 "Sequence of menu"
**Describe the bug**
Sequence of menu should be change not looking good right now.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page
2. Can we change sequence of menu => left side logo should come, in center home,about,contact, blogs should and in right login signup should come

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots

[2022-10-05 10:23] nishtha53 commented on #80
@mohityadav0903 Please assign this to me

[2022-10-05 15:53] Eyesnatcher-coder commented on #76
Hey @mohityadav0903  I have successfully removed the contact us section , please make a review and merge :)

[2022-10-05 17:40] mohityadav0903 commented on #80
hey @nishtha53 the issue is already mentioned in #74
u can comment there

[2022-10-05 17:41] #80 closed

[2022-10-05 18:23] nishtha53 commented on #80
okay sure

[2022-10-05 18:25] nishtha53 commented on #74
hii @mohityadav0903 i want to work on this pls assign to me.

[2022-10-06 05:13] mohityadav0903 commented on #76
i have commented the reviews on your PR
can u check @Eyesnatcher-coder

[2022-10-06 05:14] mohityadav0903 commented on #74
yes u can work on it @nitishsaini706

[2022-10-06 11:03] nishtha53 commented on #74
@mohityadav0903 can i get logo which is used in image?

[2022-10-06 11:17] mohityadav0903 commented on #74
https://github.com/mohityadav0903/Algoders-Community/blob/main/src/assets/logo.jpeg
@nitishsaini706

[2022-10-06 11:49] nishtha53 commented on #74
Okay
![image](https://user-images.githubusercontent.com/68805896/194304970-5d069eea-8510-4dc0-813c-4ea224ba365b.png)
here logo is different and also the background gradient is blueish but in this design it is blackish so may i know exact color code.

[2022-10-06 12:06] nishtha53 commented on #74
![image](https://user-images.githubusercontent.com/68805896/194308300-b4165a21-2348-46ac-bbf0-b143268df918.png)
@mohityadav0903 the logo which u gave is not looking good but the in design one it is looking cool.

[2022-10-07 08:31] mohityadav0903 commented on #74
hey @nishtha53 the image is same everywhere u just need to design the nav brand like that

[2022-10-07 09:34] nishtha53 commented on #74
Okay Got it. I will raise PR by EOD

[2022-10-07 09:55] nishtha53 commented on #74
@mohityadav0903 PR raised. Please let me know if any changes required.

[2022-10-09 17:58] Ayushbajpai19 commented on #76
Hello, can i work on this issue please?

[2022-10-09 17:59] Ayushbajpai19 commented on #2
Hello, can i work on this issue please?

[2022-10-09 18:33] Eyesnatcher-coder commented on #76
@mohityadav0903  please merge the PR.

[2022-10-10 07:03] Dharmik3 opened #82 "mobile nav toggle menu adding close (X) icon"
**Describe the bug**
In menu toggle of mobile nav , after clicking the menubar there need to close the menubar for that we need close (X) icon

**Smartphone (please complete the following information):**
 - Device: any phone

below is the reference gif
![icons8-menu](https://user-images.githubusercontent.com/78194918/194813362-1aa02358-10a4-4b15-9700-22e560746573.gif)

[2022-10-10 09:28] Barkty commented on #82
@Dharmik3 , has this issue been assigned to anyone? If not, can you assign this issue to me?

I would make a conditional statement that would be fired at the click of the menu icon. When the menu icon is clicked that mobile menu is active the close icon would be displayed.

[2022-10-10 14:11] mohityadav0903 commented on #82
hey @Dharmik3 u can work on itt

[2022-10-10 14:31] Dharmik3 commented on #82
Hello @mohityadav0903 if you assign this issue under hectober label it would be helpful for me .
Thanking you.

[2022-10-10 14:33] Dharmik3 commented on #82
Hey @Barkty I am working on this issue , if I need any help I'll interact with you
Thanks!

[2022-10-11 07:55] Barkty opened #83 "Improve user registration and login form validation and response handling"
**Describe the bug**
form validation doesn't display errors properly and the server response is placed at the bottom of the form

**To Reproduce**
Steps to reproduce the behavior:
1. Improve form validation to display input errors while the user inputs information
2. Display a spinner component while the form is submitting instead of the 'Loading...' text
3. Place the error response at the top of

[2022-10-12 09:49] pranavhole commented on #83
Hey, I want to work on this issue for hacktoberfest, Can you assign this to me?

[2022-10-12 16:23] Purva2803 commented on #66
hey,@aaryahjolia I want to work on this issue please assign me this issue.

[2022-10-15 14:18] Barkty commented on #83
Can you add the hacktoberfest tag or label on it?

[2022-10-17 09:50] Barkty commented on #83
Hey @mohityadav0903, I have made a pull request for this issue. Can you review?

[2022-10-18 08:17] UttamBindal commented on #72
can i work on this?

[2022-10-23 16:20] Aditya-Harsh commented on #76
Hi there,
I have experience working in web development domain and would love to work on this issue.
Please assign it to me.